body {
  margin: 0 auto;
  text-align: center;
  background-image: url("images/finish/tlo3.jpg");
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.intro {
  /* background-repeat: no-repeat; */
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60vh;
  background-image: url("images/birthday-crew.jpeg");
}

.game {
  width: 60%;
}
